body{
	background: #d5ebf0;
	font-family: tahoma;
background: rgb(86,226,235);
background: linear-gradient(90deg, rgba(86,226,235,0.244) 2%, rgba(32,250,163,0.24) 16%, rgba(0,212,255,0.24417) 47%, rgba(226,0,255,0.17419) 87%);
}
h1{
	color:#a31c5d;

}

button{
	
	margin-top: 10px;
	font-size: 20px;
	  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
background-color: white;
border-radius: 8px;
border: 2px solid #929cad;

}

button:hover:enabled {
  background-color: #77b6bf;
  color: white;
  border: 2px solid #77b6bf;
  transition-duration: 0.4s;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.24), 0 7px 8px 0 rgba(0,0,0,0.19);

}



button:disabled{
	font-weight: lighter;
	border: 1px solid #d5e2f7;
	opacity: 0.6;

	
}


#main{
	text-align: center;
}


#Timer_div{
text-align: center;

}

#Stopwatch_div{

	  display: inline-block;
	  position: relative;
padding: 50px;
left: 0%;

}


#Metronome_div{
	
	  display: inline-block;
position: relative;
padding: 50px;

left: 0%;

}






#metronome_bpm{
	width: 250px;
}


.mini_header{
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}


input{
	font-weight: bold;
	font-size: 20px;

}

#metronome_bpm{


  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;

}